{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": [
    "standard",
    "standard-jsx",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",

    // Uses eslint-config-prettier to disable ESLint rules from
    // @typescript-eslint/eslint-plugin that would conflict with prettier
    "prettier/@typescript-eslint",

    "plugin:security/recommended",
    // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors.
    // Make sure this is always the last configuration in the extends array.
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "classes": false
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react", "standard", "jest", "security", "prettier"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
