# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
# cypress logs
cypress/videos

# production
/build

# extra assets
src/assets/*.pdf

# misc
.DS_Store
.env.development
.env.test
.env.production

yarn-debug.log*
yarn-error.log*
